<div class="register-container">
    <div class="register-box">
      <h2>Sistema de Almacén</h2>
      <p>Organiza el futuro, almacena con precisión</p>
  
      <button class="btn-social google">
        <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google logo"/>
      Inicia sesión con Google
      </button>
      <button class="btn-social facebook">
        <img src="https://img.icons8.com/color/16/000000/facebook-new.png" alt="Facebook logo"/>
      Inicia sesión con Facebook
      </button>
      <button class="btn-social github">
        <img src="https://img.icons8.com/material-outlined/16/000000/github.png" alt="Github logo"/>
      Inicia sesión con Github
      </button>
  
      <div class="divider">ó</div>
  
      <form>
        <div class="input-group">
            <i class="material-icons"></i>
            <input formControlName="nombre" type="nombre" placeholder="Nombre*">
        </div>

        <div class="input-group">
            <i class="material-icons"></i>
            <input formControlName="apellidos" type="apellidos" placeholder="Apellidos*">
        </div>

        <div class="input-group">
            <i class="material-icons"></i>
            <input formControlName="email" type="email" placeholder="Correo elextrónico*">
        </div>
  
        <div class="input-group">
          <i class="material-icons"></i>
          <input type="password" placeholder="Crear una contraseña*" />
          <i class="material-icons"></i>
        </div>
  
        <div class="input-group">
          <i class="material-icons"></i>
          <input type="password" placeholder="Repite tu contraseña*" />
          <i class="material-icons"></i>
        </div>
  
        <button class="btn-register" type="submit">Registrarse</button>
      </form>
  
      <div class="login-link">
        ¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a>
      </div>
    </div>
  </div>
  