<div class="login-container">
    <div class="login-box">
      <h2>Sistema de Almacén</h2>
      <p>Organiza el futuro, almacena con precisión</p>

      <div class="divider">.</div>
      <h1>Solicitar restablecer contraseña</h1>

      <form>
        <div class="input-group">
          <i class="material-icons"></i>
          <input formControlName="email" type="email" placeholder="Usuario (correo)">
        </div>

        <button class="btn-login" type="submit">Solicitar restablecer contraseña</button>
      </form>

      <div class="register-link">
        <a href="#">Cancelar</a>
      </div>
    </div>
  </div>
